<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>805525655781-nnh6au1bld44oqo39stt1agtpgssaral.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBakPDrcolqaNd7GQaQFe8dwQenSmUWTzY</string>
	<key>GCM_SENDER_ID</key>
	<string>805525655781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crmcustomers.app</string>
	<key>PROJECT_ID</key>
	<string>redefine-erp</string>
	<key>STORAGE_BUCKET</key>
	<string>redefine-erp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805525655781:ios:7f8af1e744940326dc840c</string>
</dict>
</plist>